.flex-col-a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-row-a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-col-b {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-row-b {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-col-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.shadow-h:hover {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
